[Unit]
Description=Veila screen locker daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/veila daemon
Restart=on-failure
RestartSec=2
LimitCORE=0
PassEnvironment=WAYLAND_DISPLAY XDG_SESSION_ID XDG_SESSION_TYPE XDG_CURRENT_DESKTOP HYPRLAND_INSTANCE_SIGNATURE SWAYSOCK NIRI_SOCKET

[Install]
WantedBy=graphical-session.target
